{% for item in entities %}
  <div data-entity-id="{{ item.id }}"  id="marker-info-window" class="hidden locator-map-popup card text-dark border-0">
    <div class="card--body info">
      <div class="info--title">
        {% if item.name_prefix is not empty and item.first_name is not empty %}
          {{- item.name_prefix ~ ' ' -}}
          {{- item.name -}}
        {% else %}
          {{ item.practice }}
        {% endif %}
      </div>
      <div class="info--doc-type">
        <div class="info--doc-type--icon">
          {% if item.pin_internal_icon_url is not empty %}
            <img width="18" height="18" src="{{ item.pin_internal_icon_url }}" alt="alt"/>
            <div class="icon--label">
              {{ item.type }}
            </div>
          {% endif %}
        </div>
        {% if item.first_name is not empty %}
          <div class="info--doc-type--practice">
            {% if item.practice not in item.name_prefix ~ ' ' ~ item.name %}
              {{ item.practice }}
            {% endif %}
          </div>
        {% endif %}
        <div class="info--doc-type--address row">{{ item.address }}</div>
        <div class="info--doc-type--address-more row">
          {% if item.city is not empty %}
            {{ item.city ~ ', ' }}
          {% endif %}
          {% if item.area is not empty %}
            {{ item.area }}
          {% endif %}
          {% if item.zip is not empty %}
            {{ item.zip }}
          {% endif %}
        </div>
        {% if item.schedule_appointment %}
          <div class="info--doc-type--schedule-appointment schedule-appointment">
            <span class="schedule-appointment--button locator-btn hs-form-activated-btn" title="Schedule Appointment" data-location-id="{{ item.id }}" data-doctor-name="{{ item.name }}">
              {{ 'Schedule Appointment'|t }}
            </span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
